{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Database Accessor{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, here is database accessor!</h1>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {{ wtf.quick_form(form) }}
</div>
{% endblock %}