{% extends "base.html" %}

{% block sources %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='DataTables-1.13.4/datatables.min.css') }}">
    <script src="{{ url_for('static', filename='jQuery-3.5.1/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='DataTables-1.13.4/datatables.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

{% endblock %}